@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ff";
  src: url("/FoundersGrotesk-Semibold.ttf");
}

@layer components {
  .heading {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(
      135deg,
      #4682b4 0%,
      #e6e6fa 25%,
      #778899 50%,
      #e6e6fa 75%,
      #f0f8ff 100%
    );
    transition: transform 0.2s ease-in-out;
  }

  .heading:hover {
    transform: perspective(1000px) rotateX(5deg) rotateY(-5deg);
  }

  @media (max-width: 640px) {
    .heading {
      text-shadow: none;
      transform: none;
    }
  }
  .loader-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(
      45deg,
      #4682b4 0%,
      #e6e6fa 50%,
      #778899 100%
    );
  }
}
#projects::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.918);
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

* {
  cursor: none;
}
::selection{
  color: yellowgreen;
}