@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ff";
  src: url("/FoundersGrotesk-Semibold.ttf");
}

@font-face {
  font-family: "var";
  src: url("/var.woff2");
}


#projects::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.918);
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

* {
  cursor: none;

}

::selection {
  color: yellowgreen;
}